<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Image Converter</title>
    <link rel="icon" href="{{ url_for('static', filename='images/neif.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <h1>Image Converter</h1>
        <form method="post" enctype="multipart/form-data" id="upload-form">
            <div class="section">
                <h2>1. 이미지 파일 업로드</h2>
                <label class="custom-file-upload">
                    <input type="file" name="files" multiple accept="image/*" required>
                    파일 선택
                </label>
                <span id="file-name">선택된 파일이 없습니다.</span>
            </div>

            <div class="section">
                <h2>2. 크기 조절 (선택 사항)</h2>
                <input type="number" name="width" placeholder="넓이 (px)">
                <input type="number" name="height" placeholder="높이 (px)">
            </div>

            <div class="section">
                <h2>3. 확장자 변환 (선택 사항)</h2>
                <select name="convert_to">
                    <option value="">원본 포맷 유지</option>
                    <option value="png">PNG로 변환</option>
                    <option value="jpg">JPG로 변환</option>
                    <option value="gif">GIF로 변환</option>
                    <option value="bmp">BMP로 변환</option>
                    <option value="tiff">TIFF로 변환</option>
                    <option value="webp">WEBP로 변환</option>
                </select>
            </div>

            <button type="submit">변환하기</button>
        </form>
        <div id="loading" style="display: none;">
            <p>변환 중... 다운로드가 완료될 때까지 기다려주세요.</p>
            <button onclick="window.location.href='{{ url_for('upload_files') }}'">처음 화면으로 돌아가기</button>
        </div>
        <div class="github-icon">
            <a href="https://github.com/koremin/image-converter" target="_blank">
                <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub">
            </a>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
